@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-famile: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/fonts/icons.ttf?cuws2l") format("truetype"), url("../fonts/fonts/icons.woff?cuws2l") format("woff"), url("../fontsfonts/icons.svg?cuws2l#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-github:before {
  content: "\e901";
}

._icon-inst:before {
  content: "\e902";
}

._icon-link:before {
  content: "\e903";
}

._icon-linked:before {
  content: "\e904";
}

._icon-twitter:before {
  content: "\e905";
}

.title__label {
  text-transform: uppercase;
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 7.5px;
  color: #656d72;
  padding-left: 35px;
}
.title__label::before {
  content: "";
  width: 16px;
  height: 2px;
  background-color: #D9D9D9;
  position: absolute;
  top: 10px;
  left: 0;
}
.title__label:not(:last-child) {
  margin-bottom: 9px;
}

.title__subtitle {
  font-family: "Plus Jakarta Sans";
  font-size: 36px;
  font-weight: 700;
  line-height: 1.25;
}
.title__subtitle span {
  color: #7E74F1;
}
.title__subtitle_big {
  font-size: 44px;
  line-height: 1.25;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: #656d72;
}
.text p:not(:last-child) {
  margin-bottom: 15px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.75);
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  min-height: 123px;
  padding-bottom: 5px;
  padding-top: 5px;
}
@media (max-width: 768px) {
  .header__content {
    min-height: 60px;
  }
}
.header__content .header__logo {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #232e35;
  font-weight: 700;
}
.header__content .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__content .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: calc(35px + 36 * (100vw - 768px) / 1152);
     -moz-column-gap: calc(35px + 36 * (100vw - 768px) / 1152);
          column-gap: calc(35px + 36 * (100vw - 768px) / 1152);
}
@media (max-width: 768px) {
  .header__content .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
  }
}
.header__content .menu__link {
  color: #232e35;
  font-weight: 500;
  line-height: 1.2;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__content .menu__link:hover {
    color: #7E74F1;
  }
}
.header__content .header__button {
  color: #232e35;
  padding: 16px 24px;
  border: 1px solid #F1F1F1;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__content .header__button:hover {
    background-color: #7E74F1;
    border: 1px solid #7E74F1;
    color: #fff;
  }
}
@media (max-width: 767px) {
  .header__content .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    cursor: pointer;
  }
  .header__content .menu__icon::before,
  .header__content .menu__icon::after,
  .header__content .menu__icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }
  .header__content .menu__icon.active::before,
  .header__content .menu__icon.active::after,
  .header__content .menu__icon.active span {
    background-color: #fff;
  }
  .header__content .menu__icon::before,
  .header__content .menu__icon::after {
    content: "";
  }
  .header__content .menu__icon::before {
    top: 0;
  }
  .header__content .menu__icon::after {
    bottom: -2px;
  }
  .header__content .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) traslate(0px, -50%);
            transform: scale(1) traslate(0px, -50%);
  }
  .header__content .menu__icon.active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .header__content .menu__icon.active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__content .menu__icon.active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .header__content .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
    overflow: auto;
  }
  .header__content .menu__body.active {
    top: 0;
  }
  .header__content .menu__body::before {
    content: "";
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
  }
  .header__content .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .header__content .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .header__content .menu__link {
    font-size: 24px;
    color: #fff;
  }
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  margin: 0px auto;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}

.main-section__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 70px;
  padding-bottom: 30px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (max-width: 768px) {
  .main-section__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.main-section__title {
  margin-top: 16px;
  margin-bottom: 32px;
}

.main-section__text {
  margin-bottom: 40px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: calc(15px + 19 * (100vw - 768px) / 1152);
     -moz-column-gap: calc(15px + 19 * (100vw - 768px) / 1152);
          column-gap: calc(15px + 19 * (100vw - 768px) / 1152);
}

.social__link {
  font-size: 22px;
  color: #232E35;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .social__link:hover {
    color: #7E74F1;
  }
}

.main-section__decor {
  -ms-grid-column-align: end;
      justify-self: end;
  max-width: 336px;
  width: 100%;
  margin: 0 35px;
}
@media (max-width: 768px) {
  .main-section__decor {
    padding-top: 30px;
    -ms-grid-column-align: center;
        justify-self: center;
    max-width: 270px;
  }
}

.main-section__box {
  position: relative;
  padding-bottom: 119%;
}
.main-section__box::before, .main-section__box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.main-section__box::before {
  z-index: 1;
  background-color: #7E74F1;
  -webkit-transform: rotate(-9.55deg);
          transform: rotate(-9.55deg);
}
.main-section__box::after {
  z-index: 2;
  background: #EAE6FE url("../img/mainsection/lines.png") top right/58% no-repeat;
}

.main-section__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 16px;
  overflow: hidden;
}

.main-section__picture {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  max-width: 100%;
}

.services {
  background-color: #FBFBFB;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 110px;
  padding-bottom: 180px;
}

.services__title {
  margin-bottom: calc(40px + 60 * (100vw - 768px) / 1152);
}

.services__body {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: calc(30px + 26 * (100vw - 768px) / 1152);
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.column-service {
  border-radius: 8px;
  background-color: #fff;
  padding: calc(25px + 25 * (100vw - 768px) / 1152);
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
}

.column-service__icon {
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  background-color: #F5F3FE;
}
.column-service__icon:not(:last-child) {
  margin-bottom: 24px;
}

.column-service__title {
  font-weight: 500;
  line-height: 1.25;
}
.column-service__title:not(:last-child) {
  margin-bottom: 16px;
}

.column-service__text {
  font-size: 14px;
  line-height: 1.71;
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 80px;
  padding-bottom: 30px;
  min-height: 100vh;
}
@media (max-width: 768px) {
  .portfolio__container {
    min-height: 100%;
  }
}

.portfolio__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: calc(50px + 94 * (100vw - 768px) / 1152);
}
@media (max-width: 600px) {
  .portfolio__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.portfolio__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.portfolio__arrow {
  width: 40px;
  height: 40px;
  background-color: #EAE6FE;
  border-radius: 16px;
  color: #7E74F1;
  font-size: 12px;
}
@media (any-hover: hover) {
  .portfolio__arrow:hover {
    background-color: #c3b9f1;
  }
}
.portfolio__arrow.swiper-button-disabled {
  opacity: 0.5;
  cursor: default;
}
.portfolio__arrow.swiper-button-disabled:hover {
  background-color: #EAE6FE;
}

.portfolio__arrow_left {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.portfolio__slider {
  margin-left: 0;
  margin-right: 0;
}

.slide-portfolio {
  border: 1px solid #f5f5f5;
  border-radius: 9px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.slide-portfolio__image {
  padding-bottom: 82%;
  overflow: hidden;
  opacity: 0.5;
  -webkit-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}
.slide-portfolio__image img {
  display: block;
  -o-object-position: top;
     object-position: top;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
@media (any-hover: hover) {
  .slide-portfolio__image:hover {
    opacity: 1;
  }
  .slide-portfolio__image:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@media (any-hover: none) {
  .slide-portfolio__image {
    opacity: 1;
  }
}

.slide-portfolio__body {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}

.slide-portfolio__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.slide-portfolio__link-title {
  color: #232e35;
  font-weight: 500;
  line-height: 1.25;
}
@media (any-hover: hover) {
  .slide-portfolio__link-title:hover {
    text-decoration: underline;
    color: #7E74F1;
  }
}

.slide-portfolio__category {
  font-size: 12px;
  font-weight: 500;
  color: #656d72;
  line-height: 1.25;
  padding: 4px 8px;
  border: 1px solid #F1F1F1;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
@media (any-hover: hover) {
  .slide-portfolio__category:hover {
    background-color: #7E74F1;
    color: #fff;
    border: 1px solid #7E74F1;
  }
}

.slide-portfolio__link {
  color: #656d72;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
}
@media (any-hover: hover) {
  .slide-portfolio__link:hover {
    color: #7E74F1;
  }
}

.page__experience {
  background-color: #FBFBFB;
}

.experience__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 107px;
  padding-bottom: 123px;
}

.experience__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-column-gap: calc(30px + 114 * (100vw - 768px) / 1152);
     -moz-column-gap: calc(30px + 114 * (100vw - 768px) / 1152);
          column-gap: calc(30px + 114 * (100vw - 768px) / 1152);
  row-gap: calc(30px + 50 * (100vw - 768px) / 1152);
}

.experience__body > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
@media (min-width: 767px) {
  .experience__body {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    grid-auto-flow: column;
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
    -ms-grid-rows: auto 1fr;
    grid-template-rows: auto 1fr;
  }
  .experience__body > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .experience__body > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .experience__body > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .experience__body > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}

.experience__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  gap: 9px;
}

.experience__nav-btn {
  text-align: left;
  padding: 14px 24px;
  border-radius: 4px;
  color: #232e35;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  background-color: #FBFBFB;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
@media (max-width: 767px) {
  .experience__nav-btn {
    max-width: 300px;
  }
}

.experience__nav-btn.active {
  background-color: #fff;
  color: #7E74F1;
  font-size: 16px;
}
.experience__nav-btn.active:before {
  content: "\e900";
  font-size: 14px;
  position: relative;
  top: 0;
  left: 224px;
}

.experience__content {
  padding-top: calc(20px + 12 * (100vw - 768px) / 1152);
}
@media (min-width: 767px) {
  .experience__content {
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }
}

.content-experience__body {
  display: none;
}

.content-experience__body.active {
  display: block;
}

.content-experience__header {
  padding-bottom: calc(20px + 12 * (100vw - 768px) / 1152);
  border-bottom: 1px solid #F1F1F1;
}

.content-experience__title {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  color: #232e35;
}
.content-experience__title:not(:last-child) {
  margin-bottom: 8px;
}

.content-experience__link {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  color: #232e35;
  text-decoration: underline;
}

.content-experience__location {
  color: #656d72;
  font-size: 14px;
  line-height: 1.2;
}
.content-experience__location:not(:last-child) {
  margin-bottom: 16px;
}

.content-experience__time {
  line-height: 1.71;
  font-size: 14px;
  font-weight: 500;
  color: #656d72;
}
.content-experience__time:not(:last-child) {
  margin-bottom: 16px;
}

.content-experience__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.caterogy-link {
  line-height: 1.25;
  font-size: 12px;
  font-weight: 500;
  color: #656d72;
  padding: 4px 8px;
  border: 1px solid #F1F1F1;
  border-radius: 4px;
}
@media (any-hover: hover) {
  .caterogy-link:hover {
    background-color: #7E74F1;
    color: #fff;
    border: 1px solid #7E74F1;
  }
}

.content-experience__footer {
  padding-top: calc(20px + 12 * (100vw - 768px) / 1152);
}

.content-experience__item {
  line-height: 1.2;
  color: #656d72;
  font-size: 16px;
  position: relative;
  padding-left: 24px;
}
.content-experience__item:not(:last-child) {
  margin-bottom: 16px;
}
.content-experience__item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 10px;
  height: 2px;
  background-color: #D9D9D9;
}

.blog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
  padding-bottom: 30px;
}

.blog__title {
  margin-bottom: calc(60px + 84 * (100vw - 768px) / 1152);
}

.blog__body {
  -ms-grid-row-align: stretch;
      align-self: stretch;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  -webkit-column-gap: calc(15px + 25 * (100vw - 768px) / 1152);
     -moz-column-gap: calc(15px + 25 * (100vw - 768px) / 1152);
          column-gap: calc(15px + 25 * (100vw - 768px) / 1152);
}
@media (max-width: 900px) {
  .blog__body {
    row-gap: calc(15px + 25 * (100vw - 768px) / 1152);
  }
}

.item-blog {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #f1f1f1;
}

.item-blog__image {
  display: inline-block;
  padding-bottom: 67%;
  overflow: hidden;
}
.item-blog__image img {
  display: block;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
@media (any-hover: hover) {
  .item-blog__image:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.item-blog__content {
  padding: 16px 16px 24px 16px;
  display: -ms-grid;
  display: grid;
  gap: 16px;
}

.item-blog__link {
  color: #232e35;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Plus Jakarta Sans";
}
@media (any-hover: hover) {
  .item-blog__link:hover {
    color: #7E74F1;
  }
}

.item-blog__date {
  color: #656d72;
  background-color: #FBFBFB;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  -ms-grid-column-align: start;
      justify-self: start;
}

.item-blog__button {
  margin-top: 24px;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #656d72;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
}
@media (any-hover: hover) {
  .item-blog__button:hover {
    color: #7E74F1;
  }
}

.page__comments {
  background-color: #FBFBFB;
  margin-top: calc(70px + 106 * (100vw - 768px) / 1152);
}

.comments__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 104px;
  padding-bottom: 153px;
}

.comments__title {
  margin-bottom: calc(80px + 52 * (100vw - 768px) / 1152);
}

.comments__content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  row-gap: 80px;
  -webkit-column-gap: calc(15px + 33 * (100vw - 768px) / 1152);
     -moz-column-gap: calc(15px + 33 * (100vw - 768px) / 1152);
          column-gap: calc(15px + 33 * (100vw - 768px) / 1152);
}

.item-comments {
  background-color: #FFFFFF;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: calc(10px + 28 * (100vw - 768px) / 1152);
  padding-right: calc(10px + 28 * (100vw - 768px) / 1152);
  padding-bottom: 24px;
}

.item-comments__avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 96px;
  height: 96px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: -48px;
}
.item-comments__avatar img {
  display: block;
}
.item-comments__avatar:not(:last-child) {
  margin-bottom: 32px;
}

.item-comments__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 16px;
  line-height: 1.75;
  color: #232e35;
}
.item-comments__text:not(:last-child) {
  margin-bottom: calc(20px + 28 * (100vw - 768px) / 1152);
}

.item-comments__name {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  color: #232e35;
}
.item-comments__name:not(:last-child) {
  margin-bottom: 9px;
}

.item-comments__profession {
  color: #656d72;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  padding: 4px 8px;
  background: #FBFBFB;
  border-radius: 4px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.skills__container {
  padding-top: 105px;
  padding-bottom: 176px;
}

.skills__title {
  margin-bottom: calc(40px + 72 * (100vw - 768px) / 1152);
}

.skills__body {
  display: -ms-grid;
  display: grid;
  gap: 30px;
}
@media (min-width: 767px) {
  .skills__body {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

.period {
  display: -ms-grid;
  display: grid;
  gap: 64px;
  position: relative;
}
.period::before {
  position: absolute;
  content: "";
  left: 12px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #f1f1f1;
}

.period__item {
  padding-left: 40px;
  position: relative;
}
.period__item::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #f1f1f1;
  left: 4px;
  top: 1px;
}
.period__item:last-child::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 80%;
  left: 12px;
  bottom: 0;
  background-color: #fff;
}

.period__title {
  line-height: 1.25;
  font-weight: 500;
  color: #232e35;
}
.period__title:not(:last-child) {
  margin-bottom: 10px;
}

.period__text {
  color: #656d72;
  font-size: 14px;
  line-height: 1.21;
}
.period__text:not(:last-child) {
  margin-bottom: 24px;
}

.period__date {
  color: #232e35;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.06;
}

.content__text {
  color: #656d72;
  line-height: 1.6;
}
.content__text:not(:last-child) {
  margin-bottom: calc(20px + 44 * (100vw - 768px) / 1152);
}

.content__items {
  display: -ms-grid;
  display: grid;
  gap: calc(20px + 20 * (100vw - 768px) / 1152);
}

.content__label {
  color: #232e35;
  line-height: 1.06;
  font-weight: 500;
}
.content__label:not(:last-child) {
  margin-bottom: 16px;
}

.content__line {
  background-color: #f5f3fe;
  border-radius: 0px 2px 2px 0px;
  height: 8px;
  position: relative;
}
.content__line span {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0px 2px 2px 0px;
  background-color: #7E74F1;
}

.page__contacts {
  background-color: #FBFBFB;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 104px;
  padding-bottom: 134px;
}

.contacts__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .contacts__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

.form {
  display: -ms-grid;
  display: grid;
  gap: 16px;
}
@media (max-width: 767px) {
  .form {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.form__item:last-child {
  padding-top: 22px;
}
.form__item span {
  display: inline-block;
  padding: 15px 10px 10px 10px;
  color: rgba(255, 33, 87, 0.86);
  font-weight: 500;
}

.form__input {
  height: 48px;
  border-radius: 8px;
  padding: 0 24px;
  width: 100%;
  background-color: #fff;
  color: #656d72;
}
.form__input::-webkit-input-placeholder {
  color: #656d72;
}
.form__input::-moz-placeholder {
  color: #656d72;
}
.form__input:-ms-input-placeholder {
  color: #656d72;
}
.form__input::-ms-input-placeholder {
  color: #656d72;
}
.form__input::placeholder {
  color: #656d72;
}
.form__input:focus {
  border: 1px solid #7E74F1;
}
.form__input:focus::-webkit-input-placeholder {
  color: transparent;
}
.form__input:focus::-moz-placeholder {
  color: transparent;
}
.form__input:focus:-ms-input-placeholder {
  color: transparent;
}
.form__input:focus::-ms-input-placeholder {
  color: transparent;
}
.form__input:focus::placeholder {
  color: transparent;
}

input.error {
  -webkit-box-shadow: 0px 1px 14px 6px rgba(255, 33, 87, 0.86) !important;
          box-shadow: 0px 1px 14px 6px rgba(255, 33, 87, 0.86) !important;
}
input.error:not(:focus) {
  border: 2px solid red;
}
input.error:not(:focus)::-webkit-input-placeholder {
  color: rgba(255, 33, 87, 0.86);
  font-weight: 500;
}
input.error:not(:focus)::-moz-placeholder {
  color: rgba(255, 33, 87, 0.86);
  font-weight: 500;
}
input.error:not(:focus):-ms-input-placeholder {
  color: rgba(255, 33, 87, 0.86);
  font-weight: 500;
}
input.error:not(:focus)::-ms-input-placeholder {
  color: rgba(255, 33, 87, 0.86);
  font-weight: 500;
}
input.error:not(:focus)::placeholder {
  color: rgba(255, 33, 87, 0.86);
  font-weight: 500;
}

input.green:not(:focus) {
  border: 1px solid green;
}

textarea.form__input {
  height: 190px;
  resize: vertical;
  padding: 12px 24px;
}

.form__button {
  background-color: #7E74F1;
  width: 100%;
  color: #fff;
  padding: 16px;
  border-radius: 8px;
  -webkit-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}
@media (any-hover: hover) {
  .form__button:hover {
    background-color: #645bca;
  }
}

.contacts__body {
  padding-left: calc(20px + 85 * (100vw - 768px) / 1152);
}
@media (max-width: 767px) {
  .contacts__body {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.list-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: calc(20px + 28 * (100vw - 768px) / 1152);
}

.list-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.list-contacts__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56px;
          flex: 0 0 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  background-color: #F5F3FE;
}

.list-contacts__title {
  color: #232e35;
  font-weight: 500;
}
.list-contacts__title:not(:last-child) {
  margin-bottom: 4px;
}

.list-contacts__text {
  font-size: 14px;
  line-height: 1.71;
  color: #656d72;
  -webkit-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}
@media (any-hover: hover) {
  .list-contacts__text:hover {
    color: #7E74F1;
  }
}