@font-face {
  font-family: 'icons';
  src:
    url('../fonts/fonts/icons.ttf?cuws2l') format('truetype'),
    url('../fonts/fonts/icons.woff?cuws2l') format('woff'),
    url('../fontsfonts/icons.svg?cuws2l#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow:before {
  content: "\e900";
}
._icon-github:before {
  content: "\e901";
}
._icon-inst:before {
  content: "\e902";
}
._icon-link:before {
  content: "\e903";
}
._icon-linked:before {
  content: "\e904";
}
._icon-twitter:before {
  content: "\e905";
}
