@import 'nullstyle.scss';
@import 'iconfonts.scss';
@import 'bemCommon.scss';
@import 'header.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');
$mainColor:#232e35;
$secondColor: #656d72;
//font-family: 'Plus Jakarta Sans', sans-serif;
body{
	font-family: 'Inter', sans-serif;
	font-size: 16px;
}
.wrapper{
	width: 100%;
	height: 100%;
	max-width: 1440px;
	display: flex;
	flex-direction:column;
	overflow: hidden;
	margin: 0px auto;
}
.container{
 max-width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0px auto;
}

.page {}
.page__main {}
.main-section {}
.main-section__container {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	min-height: 100vh;
	align-items: center;
	padding-top:calc(30px + (80 - 30) * ((100vw - 768px)/(1920 - 768)));
	padding-bottom:30px;
}
.main-section__content {}
.main-section__title {
	margin-top: 16px;
	margin-bottom: 32px;
}
.main-section__text {
	margin-bottom: 40px;
}
.social {
display: flex;
column-gap:calc(15px + (34 - 15) * ((100vw - 768px)/(1920 - 768)));
}
.social__link {
font-size: 22px;
color: #232E35;
transition: color 0.3s ease 0s;
@media (any-hover:hover) {
	&:hover{
		color:#7E74F1;
	}
}
}
.main-section__decor{
	justify-self: end;
	max-width: 336px;
	width: 100%;
}
.main-section__box{
	//margin : 0 0 0 auto;
	position: relative;
	padding-bottom: 119%;
	&::before,
	&::after{
		content:'';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 16px;
	}
	&::before{
     z-index: 1;
     background-color: #7E74F1;
     transform: rotate(-9.55deg);
	}
	&::after{
     z-index: 2;
     background: #EAE6FE url('../../img/mainsection/lines.png') top right / 58% no-repeat;
	}
}
.main-section__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 16px;
	overflow: hidden;
}
.main-section__picture{
	position: absolute;
	z-index: 3;
	bottom: 0;
	left: 0;
    max-width: 100%;
}


