@import 'nullstyle.scss';
@import 'iconfonts.scss';
@import 'bemCommon.scss';
@import 'header.scss';
@import 'ibg.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');
$mainColor:#232e35;
$secondColor: #656d72;
//font-family: 'Plus Jakarta Sans', sans-serif;
body{
	font-family: 'Inter', sans-serif;
	font-size: 16px;
}
.wrapper{
	width: 100%;
	min-height: 100%;
	max-width: 1440px;
	display: flex;
	flex-direction:column;
	overflow: hidden;
	margin: 0px auto;
}
.container{
 max-width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0px auto;
}

.page {}
.page__main {}
.main-section {}
.main-section__container {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	min-height: 100vh;
	align-items: center;
	padding-top:70px;
	padding-bottom:30px;
	column-gap: 20px;
	@media (max-width: 768px) {
		grid-template-columns: 1fr;
	}
}
.main-section__content {
}
.main-section__title {
	margin-top: 16px;
	margin-bottom: 32px;
}
.main-section__text {
	margin-bottom: 40px;
}
.social {
display: flex;
column-gap:calc(15px + (34 - 15) * ((100vw - 768px)/(1920 - 768)));
}
.social__link {
font-size: 22px;
color: #232E35;
transition: color 0.3s ease 0s;
@media (any-hover:hover) {
	&:hover{
		color:#7E74F1;
	}
}
}
.main-section__decor{
	justify-self: end;
	max-width: 336px;
	width: 100%;
	margin: 0 35px;
	@media (max-width: 768px) {
		padding-top: 30px;
		justify-self: center;
		max-width: 270px;
	}
}
.main-section__box{
	//margin : 0 0 0 auto;
	position: relative;
	padding-bottom: 119%;
	&::before,
	&::after{
		content:'';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 16px;
	}
	&::before{
     z-index: 1;
     background-color: #7E74F1;
     transform: rotate(-9.55deg);
	}
	&::after{
     z-index: 2;
     background: #EAE6FE url('../img/mainsection/lines.png') top right / 58% no-repeat;
	}
}
.main-section__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 16px;
	overflow: hidden;
}
.main-section__picture{
	position: absolute;
	z-index: 3;
	bottom: 0;
	left: 0;
    max-width: 100%;
}

.page__services {}
.services {
	background-color: #FBFBFB;
}
.services__container {
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	padding-top: 110px;
	padding-bottom: 180px;
}
.services__title {
 		margin-bottom:calc(40px + (100 - 40) * ((100vw - 768px)/(1920 - 768)));	

}
.services__body {
	width: 100%;
	display: grid;
	gap:calc(30px + (56 - 30) * ((100vw - 768px)/(1920 - 768)));
	grid-template-columns:repeat(auto-fill,minmax(280px,1fr))
}
.services__column {}
.column-service {
	border-radius: 8px;
	background-color: #fff;
	padding:calc(25px + (50 - 25) * ((100vw - 768px)/(1920 - 768)));
	display: grid;
	justify-items: center;
	text-align: center;
}
.column-service__icon {
	width: 56px;
	height: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 16px;
	background-color: #F5F3FE;
	&:not(:last-child){
		margin-bottom: 24px;
	}
}
.column-service__title {
	font-weight: 500;
	line-height: 1.25;
	&:not(:last-child){
		margin-bottom: 16px;
	}
}
.column-service__text {
	font-size: 14px;
    line-height: 1.71;
}

.page__portfolio {}
.portfolio {}
.portfolio__container {
	display: flex;
	justify-content: center;
	flex-direction:column;
	padding-top: 80px;
	padding-bottom: 30px;
	min-height: 100vh;
	@media (max-width: 768px) {
		min-height: 100%;
	}
}
.portfolio__header {
	display: flex;
	justify-content: space-between;
	gap:20px;
	align-items: center;
	margin-bottom:calc(50px + (144 - 50) * ((100vw - 768px)/(1920 - 768)));	
	@media(max-width: 600px) {
		flex-direction:column;
	}
}
.portfolio__title {}
.portfolio__controls {
	display: flex;
	align-items: center;
	gap:16px;
}
.portfolio__arrow {
	width: 40px;
	height: 40px;
	background-color: #EAE6FE;
    border-radius: 16px;
    color:#7E74F1;
    font-size: 12px;
    @media (any-hover:hover) {
    	&:hover{
    		background-color: #c3b9f1;
    	}
    	
    }
    &.swiper-button-disabled{
		opacity: 0.5;
		cursor: default;
		&:hover{
    		background-color:  #EAE6FE;
    	}
	}
}
.portfolio__arrow_left {
	transform:rotate(-180deg);
}
.portfolio__arrow_right {}

.portfolio__slider { // Баг слайдера 
 margin-left: 0;
 margin-right: 0;
}
.swiper {}

.portfolio__wrapper {
	
}
.swiper-wrapper {}
.portfolio__slide {

}
.swiper-slide {}
.slide-portfolio {
	border: 1px solid #f5f5f5;
	border-radius: 9px;
	overflow: hidden;
	display: flex;
	flex-direction:column;
	min-height: 100%;
}
.slide-portfolio__image {

	padding-bottom: 82%;
	overflow: hidden;
	opacity: 0.5;
	transition: opacity 0.5s ease 0s;
	img{
		display: block;
		object-position:top;
		transition: transform 0.5s ease 0s;
	}
	@media (any-hover:hover) {
		&:hover{
			opacity: 1;
			img{
				transform:scale(1.1)
			}
		}
	}
	@media (any-hover:none){
     opacity: 1;
	}
}
.slide-portfolio__body {
	padding: 24px;
	display: flex;
	flex-wrap:wrap;
	gap:16px;
}
.slide-portfolio__title {
	flex: 1 1 100%;
}
.slide-portfolio__link-title {
	color:$mainColor;
	font-weight: 500;
	line-height: 1.25;
	  @media (any-hover:hover) {
    	&:hover{
    		text-decoration: underline;
    		color:#7E74F1;
    	}
    }
}
.slide-portfolio__category {
	font-size: 12px;
	font-weight: 500;
	color:$secondColor;
	line-height: 1.25;
	padding: 4px 8px;
	border: 1px solid #F1F1F1;
    border-radius: 4px;
    transition:all 0.4s ease 0s;
    @media (any-hover:hover) {
    	&:hover{
    		background-color: #7E74F1;
    			color:#fff;
    			border: 1px solid #7E74F1;
    		}

    }
}
.slide-portfolio__link {
	color:$secondColor;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 11px;
@media (any-hover:hover) {
    	&:hover{
    			color:#7E74F1;
    	}
    }
}

.page__experience {
	background-color: #FBFBFB;
}
.experience {}
.experience__container {
	display: flex;
	justify-content: center;
	flex-direction:column;
	padding-top:107px;
	padding-bottom:123px;	
}
.experience__body{
    display: grid;
	grid-template-columns: auto ;
	grid-template-rows: auto ;
	column-gap:calc(30px + (144 - 30) * ((100vw - 768px)/(1920 - 768)));	
	row-gap:calc(30px + (80 - 30) * ((100vw - 768px)/(1920 - 768)));
	@media (min-width: 767px) {
	align-content: center;
	align-items: start;
	grid-auto-flow:column;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	}
}
.experience__title{
}

.experience__nav {
	display: flex;
	flex-direction:column;
	text-align: left;
	gap:9px;

}
.experience__nav-btn {
	text-align: left;
	padding: 14px 24px;
	border-radius: 4px;
	color:$mainColor;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 500;
	background-color: #FBFBFB;
	transition:all 0.4s ease 0s;
	@media (max-width: 767px) {
		max-width: 300px;
	}
}
.experience__nav-btn.active{
background-color: #fff;
color:#7E74F1;
	font-size: 16px;
&:before{
	content: "\e900";
	font-size: 14px;
	position: relative;
	top: 0;
	left: 224px;
}
}
.experience__content {
	padding-top:calc(20px + (32 - 20) * ((100vw - 768px)/(1920 - 768)));	
	@media (min-width: 767px) {
		grid-row:span 2;
	}
}
.content-experience {}
.content-experience__body {
	display: none;
}
.content-experience__body.active{
	display: block;
}
.content-experience__header {
	padding-bottom:calc(20px + (32 - 20) * ((100vw - 768px)/(1920 - 768)));	
	border-bottom:  1px solid #F1F1F1;
}
.content-experience__title {
	font-family: 'Plus Jakarta Sans';
	font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    color:$mainColor;
    &:not(:last-child){
    	margin-bottom: 8px;
    }
}
.content-experience__link {
	font-family: 'Plus Jakarta Sans';
	font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    color:$mainColor;
    text-decoration: underline;
}
.content-experience__location {
	color:$secondColor;
	font-size: 14px;
	line-height: 1.2;
	&:not(:last-child){
    	margin-bottom: 16px;
    }
}
.content-experience__time {
	line-height: 1.71;
	font-size: 14px;
	font-weight: 500;
	color:$secondColor;
	&:not(:last-child){
    	margin-bottom: 16px;
    }
}
.content-experience__categories {
	display: flex;
	gap: 10px;
}
.caterogy-link {
	line-height: 1.25;
	font-size: 12px;
	font-weight: 500;
	color:$secondColor;
	padding: 4px 8px;
	border: 1px solid #F1F1F1;
    border-radius: 4px;
    @media (any-hover:hover) {
    	&:hover{
    		background-color: #7E74F1;
    			color:#fff;
    			border: 1px solid #7E74F1;
    	}
    }
}
.content-experience__footer {
	padding-top:calc(20px + (32 - 20) * ((100vw - 768px)/(1920 - 768)));	
}
.content-experience__list {}
.content-experience__item {
	line-height: 1.2;
	color:$secondColor;
	font-size: 16px;
	position: relative;
	padding-left: 24px;
	&:not(:last-child){
    	margin-bottom: 16px;
    }
	&::before{
      content: '';
      position: absolute;
      top: 8px;
      left: 0px;
      width: 10px;
      height: 2px;
      background-color: #D9D9D9;
	}
}